<%= form_for(@file_process) do |f| %>
  <% if @file_process.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@file_process.errors.count, "error") %> prohibited this file_process from being saved:</h2>

      <ul>
      <% @file_process.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vehicle_booking_id %><br>
    <%= f.text_field :vehicle_booking_id %>
  </div>
  <div class="field">
    <%= f.label :financer %><br>
    <%= f.text_field :financer %>
  </div>
  <div class="field">
    <%= f.label :contact_person %><br>
    <%= f.text_field :contact_person %>
  </div>
  <div class="field">
    <%= f.label :contact_no %><br>
    <%= f.text_field :contact_no %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
