<%= bootstrap_form_for(@branch,html: {id: 'branch'}) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.select :company_id,all_company,{label: 'Company',include_blank: " Select Company"} %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :code, label:'Branch Code', placeholder: 'B001' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name, label:'Name', placeholder: 'Truba' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <div class="form-group required">
        <%= f.text_field :address,label:'Address', placeholder: 'xyz' %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :email,label:'Email', placeholder: 'branch@gmail.com' %>
      </div>
    </div>
  
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :contact_no, label:'Contact No.', placeholder: '+2290981167' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.check_box :status,label:'Active' %>
      </div>
    </div>
  </div>
  

  <div class="row">
    <div class="col-sm-3" style="padding-top: 20px;">
      <div class="form-group required">
        <%= f.submit "Create Branch", :class => class_name, data: { disable_with: data_info } %>
        <%#= link_to 'Back', agencies_path ,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
      </div>
    </div>
  </div>
<% end %>

<script>
$("#branch").validate({
    rules: {
      "branch[code]":{
        required: true,
      },
      "branch[name]":{
        required: true,
      }
       },
    messages: {
      "branch[code]":{
        required: "Please specify code",
      },
       "branch[name]":{
        required: "Please specify name",
      }
       },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>


