<%= bootstrap_form_for(@employee,html: {id: 'employee'}) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :code, label:'Employee Code', placeholder: 'A001' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="field">
        <%= f.select :prefix ,['Mr.','Mrs.','Miss.'] ,{label: 'Prefix',include_blank: "Select Prefix"} %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :first_name , label: 'First Name',placeholder: 'First Name' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="field">
       <%= f.text_field :middle_name, label: 'Middle Name',placeholder: 'Middle Name' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
       <%= f.text_field :last_name, label: 'Last Name',placeholder: 'Last Name' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :date_of_birth, label: 'Date of Birth', class: 'birth_date'%>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.select :gender, ['Male','Female'],{label: 'Select Gender',include_blank: " Select Gender"} %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="field">
       <%= f.text_field :contact_no,label: 'Contact No.',placeholder: 'e.g.123456789' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
       <%= f.text_field :email,label: 'Email',placeholder: 'e.g.abc@sganalytics.com' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="field">
      <%= f.text_field :blood_group,label: 'Blood Group',placeholder: 'O+' %>
        <%#= f.select :blood_group_id, all_blood_group, {label: 'Blood Group',include_blank: " Select Blood Group"} %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group required">
       <%= f.text_field :address, label: 'Address',placeholder: 'e.g. sector - c,pune' %>
      </div>
    </div>

  </div>
  
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.select :country,["India"], {label:'Country', include_blank: 'Please Select Country'} %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.select :state,["Maharashtra"], {label:'State', include_blank: 'Please Select State'} %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.select :district,["Mumbai","Pune"],{label:'District', include_blank: 'Please Select District'} %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :city, label:'City', placeholder: 'Mumbai' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :pin_code, label:'Pin Code', placeholder: '420016' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :adhar_no, label:'Contact No.', placeholder: '+2290981167' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.select :company_id,all_company,{label: 'Company',include_blank: " Select Company"} %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.select :branch_id,all_branch,{label: 'Branch',include_blank: " Select Branch"} %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.select :status,['Active','Inactive'],{label: 'Status',include_blank: " Select Employee Status"} %>
      </div>
    </div>

    <div class="col-sm-3" style="padding-top: 20px;">
      <div class="form-group required">
        <%= f.submit "Create Employee", :class => class_name, data: { disable_with: data_info } %>
        <%#= link_to 'Back', agencies_path ,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
      </div>
    </div>
  </div>
<% end %>

<script>
$("#employee").validate({
  rules: {
    "employee[code]":{
      required: true,
    },
    "employee[name]":{
      required: true,
    }
     },
  messages: {
    "employee[code]":{
    required: "Please specify code",
  },
    "employee[name]":{
    required: "Please specify name",
  }
   },
  errorPlacement: function(error, element) {
   error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
   error.insertAfter(element.parent(element));
  }
});
</script>

