<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @employee.code %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @employee.prefix %>
</p>

<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @employee.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @employee.date_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @employee.gender %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @employee.contact_no %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Blood group:</strong>
  <%= @employee.blood_group %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>

<p>
  <strong>Country:</strong>
  <%= @employee.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @employee.state %>
</p>

<p>
  <strong>District:</strong>
  <%= @employee.district %>
</p>

<p>
  <strong>City:</strong>
  <%= @employee.city %>
</p>

<p>
  <strong>Pin code:</strong>
  <%= @employee.pin_code %>
</p>

<p>
  <strong>Adhar no:</strong>
  <%= @employee.adhar_no %>
</p>

<p>
  <strong>Status:</strong>
  <%= @employee.status %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
