<div class="box box-default">
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
      <tbody>
        <tr>
          <th colspan="5">
            <strong><center>Scheme Detail</center></strong>
          </th>
        </tr>
        <tr>
          <th>Scheme Type</th>
          <td><%= @scheme.scheme_type %></td>
          <th>Name</th>
          <td><%= @scheme.name %></td>
        </tr>
        <tr>
          <th>Budget </th>
          <td><%= @scheme.budget %></td>
          <th>Down payment</th>
          <td><%= @scheme.down_payment %></td>
        </tr>
        <tr>
          <th>Installment </th>
          <td><%= @scheme.installment %></td>
          <th>Intrest</th>
          <td><%= @scheme.intrest %></td>
        </tr>
        <tr>
          <th>From date </th>
          <td><%= @scheme.from_date %></td>
          <th>To date</th>
          <td><%= @scheme.to_date %></td>
        </tr>
        <tr>
          <th>Status</th>
          <td><%= @scheme.status %></td>
          <th></th>
          <td></td>
        </tr>
        <tr>
          <th>Image first</th>
          <td><%= image_tag @scheme.avatar.url(:medium),class: "profile-user-img img-responsive img-circle", alt: "User Image",size: "25x25" %>
          </td>
          <th>Image Second</th>
          <td><%= image_tag @scheme.image.url(:medium),class: "profile-user-img img-responsive img-circle", alt: "User Image",size: "25x25" %>
          </td>
        </tr>
      </tbody>
    </table><br>
    <%= link_to 'Edit', edit_scheme_path(@scheme), class: 'btn btn-default btn-sm fa' %> |
    <%= link_to 'Back', schemes_path ,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
  </div>
</div>

