<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @scheme.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @scheme.name %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @scheme.budget %>
</p>

<p>
  <strong>Down payment:</strong>
  <%= @scheme.down_payment %>
</p>

<p>
  <strong>Installment:</strong>
  <%= @scheme.installment %>
</p>

<p>
  <strong>Installment:</strong>
  <%= @scheme.installment %>
</p>

<p>
  <strong>Intrest:</strong>
  <%= @scheme.intrest %>
</p>

<p>
  <strong>From date:</strong>
  <%= @scheme.from_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @scheme.to_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @scheme.status %>
</p>

<%= link_to 'Edit', edit_scheme_path(@scheme) %> |
<%= link_to 'Back', schemes_path %>
