<div class="box box-default">
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
      <tbody>
        <tr>
          <th colspan="5">
            <strong><center>Scheme Detail</center></strong>
          </th>
        </tr>
        <tr>
          <th>Vehicle Type</th>
          <td><%= @scheme.vehicle_type.name rescue nil %></td>
          <th>Scheme</th>
          <td><%= @scheme.name rescue nil %></td>
        </tr>
        <tr>
          <th>Budget </th>
          <td><%= @scheme.budget %></td>
          <th>Down Payment</th>
          <td><%= @scheme.down_payment %></td>
        </tr>
        <tr>
          <th>EMI(Months) </th>
          <td><%= @scheme.installment %></td>
          <th>Intrest(%)</th>
          <td><%= @scheme.interest %></td>
        </tr>
        <tr>
          <th>EMI Amount</th>
          <td><%= @scheme.installment_amount %></td>
          <th>Total Amount</th>
          <td><%= @scheme.total_amount %></td>
        </tr>
        <tr>
          <th>Installment Amount </th>
          <td colspan="3"><%= @scheme.emi_amount %></td>
        </tr>
        <tr>
          <th>From Date </th>
          <td><%= @scheme.from_date %></td>
          <th>To Date</th>
          <td><%= @scheme.to_date %></td>
        </tr>
        <tr>
          <th>Status</th>
          <td><%= @scheme.status ? "Active" : "Inactive" %></td>
          <th>Description</th>
          <td colspan="3"><%= @scheme.description %></td>
        </tr>
        <tr>
          <th>Image First</th>
          <td><%= image_tag @scheme.avatar.url(:medium),class: "profile-user-img img-responsive img-sequer", alt: "User Image",size: "55x55" %>
          </td>
          <th>Image Second</th>
          <td><%= image_tag @scheme.image1.url(:medium),class: "profile-user-img img-responsive img-sequer", alt: "User Image",size: "55x55" %>
          </td>
        </tr>
      </tbody>
    </table><br>
    <%= link_to 'Edit', edit_scheme_path(@scheme), class: 'btn btn-default btn-sm fa' %> |
    <%= link_to 'Back', schemes_path ,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
  </div>
</div>

