<%= bootstrap_form_for(@showroom_master,html: {id: 'showroom_master'}) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :code, label:'Code', placeholder: 'S001' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name, label:'Name', placeholder: 'Showroom' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="field">
        <%= f.text_field :description, label:'Description', placeholder: 'description' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :pin_code, label:'Pin Code', placeholder: '420016' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :place, label:'Place', placeholder: 'Pune' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="field">
        <%= f.text_field :address,label:'Address', placeholder: 'xyz' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :contact_no, label:'Contact No.', placeholder: '+2290981167' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :email,label:'Email', placeholder: 'company@gmail.com' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :contact_person,label:'Contact Person', placeholder: 'Akshay' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
        <%= f.check_box :status,label:'Active' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Showroom Master", class: 'btn btn-sm btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
