<table style="border-collapse: collapse; font-size:9pt;" border=1 width=1200 cellpadding="10">
  <thead>

    <td colspan="11"><center> 
      <% if current_user.employee.company.logo == nil %>
      <% else %>
        <center> <%= wicked_pdf_image_tag current_user.employee.company.logo.url, :size => "120x80" %></center>
      <%end%> 
        <strong><%=current_user.employee.company.try(:name)%></strong> <br> <%= current_user.employee.company.try(:address)%></center>
    </td>
    <tr>
    	<th>Sr. No</th>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Pin Code</th>
      <th>Place</th>
      <th>Address</th>
      <th>Contact No</th>
      <th>Email</th>
      <th>Contact Person</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
  	<% i = 0 %>
    <% @showroom_masters.each do |showroom_master| %>
      <tr>
        <td><%= i = i + 1 %></td>
        <td><%= showroom_master.code %></td>
        <td><%= showroom_master.name %></td>
        <td><%= showroom_master.description %></td>
        <td><%= showroom_master.pin_code %></td>
        <td><%= showroom_master.place %></td>
        <td><%= showroom_master.address %></td>
        <td><%= showroom_master.contact_no %></td>
        <td><%= showroom_master.email %></td>
        <td><%= showroom_master.contact_person %></td>
        <td><%= showroom_master.status ? "Active" : "Inactive" %></td>
      </tr>
    <% end %>
  </tbody>
</table>