<%= bootstrap_form_for(@vehicle_booking,html: {id: 'vehicle_booking'}) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :pan, label:'Pan Card', placeholder: 'BACLC0423K' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :adhar, label:'Adhar Card', placeholder: '332142174615' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :licence, label:'Licence No', placeholder: 'MH12201308800' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :light_bill, label:'Light Bill', placeholder: 'eg: 18486877' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :rent_agr, label:'Rent Aggrement', placeholder: 'Rent Aggrement' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :bs, label:'BS', placeholder: 'BS' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :itr, label:'ITR', placeholder: 'ITR' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :native_light_bill, label:'Native Light Bill', placeholder: 'eg: 18486875' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :pan_guarantor, label:'Guarantor Pan', placeholder: 'BCSPX0217H' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :adhar_guarantor, label:'Guarantor Adhar', placeholder: '332292174615' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :light_bill_guarantor, label:'Guarantor Light Bill', placeholder: 'eg: 18487765' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :rent_agr_guarantor, label:'Guarantor Rent Aggrement', placeholder: 'Guarantor Rent Aggrement' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :bs_guarantor, label:'Guarantor BS', placeholder: 'Guarantor BS' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :itr_guarantor, label:'Guarantor ITR', placeholder: 'Guarantor ITR' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :pan_guarantor1, label:'Guarantor1 Pan Card', placeholder: 'BLSKX0917H' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :adhar_guarantor1, label:'Guarantor1 Adhar Card', placeholder: '422192174617' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :light_bill_guarantor1, label:'Guarantor1 Light Bill', placeholder: 'eg: 74217898' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :rent_agr_guarantor1, label:'Guarantor1 Rent Aggrement', placeholder: 'Guarantor1 Rent Aggrement agr' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :bs_guarantor1, label:'Guarantor1 BS', placeholder: 'Guarantor1 BS' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :itr_guarantor1, label:'Guarantor1 ITR', placeholder: 'Guarantor1 ITR' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="field">
        <%= f.check_box :status,label:'Active' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Booking", class: 'btn btn-sm btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<script>
$("#vehicle_booking").validate({
    rules: {
      "vehicle_booking[pan]":{
        required: true,
      },
      "vehicle_booking[adhar]":{
        required: true,
      }
       },
    messages: {
      "vehicle_booking[pan]":{
        required: "Please specify pan",
      },
       "vehicle_booking[adhar]":{
        required: "Please specify Adhar",
      }
       },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>

