<div class="box box-default">
  <div class="box-header with-border">
	  <div class="box-tools pull-right">
	    <%#= link_to 'Edit', edit_vehicle_booking_path(@vehicle_booking), class: 'btn btn-success btn-xs fa'%> 
      <% if current_user.role == "Admin" %>
	      <%= link_to 'Back', vehicle_bookings_path ,class: 'btn btn-default btn-xs fa fa-arrow-left' %>
      <% else %>
        <%= link_to 'Back', branchwise_booking_vehicle_bookings_path ,class: 'btn btn-default btn-xs fa fa-arrow-left' %>
      <% end %>
      <%#= link_to 'Edit', edit_vehicle_booking_path(@vehicle_booking),class: 'btn btn-xs btn-success fa fa-edit', remote:true %>
	  </div>
 	</div>
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
      <tbody>
        <tr>
          <th><strong>Enquiry By</strong></th>
          <td><%= @vehicle_booking.try(:enquiry).try(:user).try(:employee).try(:prefix) %> <%= @vehicle_booking.try(:enquiry).try(:user).try(:employee).try(:first_name) %> <%= @vehicle_booking.try(:enquiry).try(:user).try(:employee).try(:middle_name) %> <%= @vehicle_booking.try(:enquiry).try(:user).try(:employee).try(:last_name) %></td>
             <th><strong>Executive/Booking</strong></th>
          <td><%= @vehicle_booking.try(:executive).try(:prefix) %> <%= @vehicle_booking.try(:executive).try(:first_name) %> <%= @vehicle_booking.try(:executive).try(:last_name) %></td>
        </tr>
        <tr>
         

          <% emp = Employee.find_by(id: @vehicle_booking.user_id) %>
          <th><strong>Created By</strong></th>
          <td><%=emp.try(:prefix) %> <%= emp.try(:first_name) %> <%= emp.try(:last_name) %></td>

           <th><strong>Agent Name</strong></th>
          <td> <%= @vehicle_booking.try(:agent).try(:first_name) %> <%= @vehicle_booking.try(:agent).try(:middel_name) %> <%= @vehicle_booking.try(:agent).try(:last_name) %> <%= @vehicle_booking.try(:agent).try(:mobile_no) %></td>
        </tr>
        <tr>
          <th colspan="4"><font color='#0077b3'><center>Customer Details</center></font>
          </th>
        </tr>
        <tr>
          <th><strong>Name</strong></th>
          <td><%= @vehicle_booking.try(:enquiry).try(:name_first) %> <%= @vehicle_booking.try(:enquiry).try(:middle_name) %> <%= @vehicle_booking.try(:enquiry).try(:last_name) %></td>

          <th><strong>Mobile No</strong></th>
          <td><%= @vehicle_booking.try(:enquiry).try(:mobile_no) %></td>
        </tr>
        <tr>
          <th><strong>Pan Card</strong></th>
          <td><%= @vehicle_booking.pan %></td>
        
          <th><strong>Adhar Card</strong></th>
          <td><%= @vehicle_booking.adhar %></td>
        </tr>

        <tr>
          <th><strong>Licence No</strong></th>
          <td><%= @vehicle_booking.licence %></td>
        
          <th><strong>Consumer Number</strong></th>
          <td><%= @vehicle_booking.light_bill %></td>
        </tr>

        <tr>
          <th><strong>Unit</strong></th>
          <td><%= @vehicle_booking.bs %></td>

          <th><strong>Current Address</strong></th>
          <td><%= @vehicle_booking.rent_agr %></td>
        </tr>

        <tr>
          <th><strong>Permanent Address</strong></th>
          <td><%= @vehicle_booking.native_light_bill %></td>

          <th><strong>Firm Name</strong></th>
          <td><%= @vehicle_booking.itr %></td>
        </tr>
        <tr>
          <th><strong>Date</strong></th>
          <td colspan="3"><%= @vehicle_booking.date %></td>
        </tr>
        <tr>
          <th colspan="4"><font color='#0077b3'><center>Guarantor Details</center></font>
          </th>
        </tr>

        <tr>
          <th><strong>Guarantor Pan</strong></th>
          <td><%= @vehicle_booking.pan_guarantor %></td>
        
          <th><strong>Guarantor Adhar</strong></th>
          <td><%= @vehicle_booking.adhar_guarantor %></td>
        </tr>

        <tr>
          <th><strong>Consumer Number</strong></th>
          <td><%= @vehicle_booking.light_bill_guarantor %></td>
        
          <th><strong>Unit</strong></th>
          <td><%= @vehicle_booking.guarantor_unit %></td>
        </tr>

        <tr>
          <th><strong>Current Address</strong></th>
          <td><%= @vehicle_booking.rent_agr_guarantor %></td>

          <th><strong>Mobile Number</strong></th>
          <td><%= @vehicle_booking.bs_guarantor %></td>
        </tr>

        <tr>
          <th colspan="4"><font color='#0077b3'><center>Guarantor1 Details</center></font>
          </th>
        </tr>

        <tr>
          <th><strong>Guarantor1 Pan</strong></th>
          <td><%= @vehicle_booking.pan_guarantor1 %></td>
        
          <th><strong>Guarantor1 Adhar Card</strong></th>
          <td><%= @vehicle_booking.adhar_guarantor1 %></td>
        </tr>

        <tr>
          <th><strong>Consumer Number</strong></th>
          <td><%= @vehicle_booking.light_bill_guarantor1 %></td>
        
          <th><strong>Unit</strong></th>
          <td><%= @vehicle_booking.guarantor1_unit %></td>
        </tr>

        <tr>
          <th><strong>Current Address</strong></th>
          <td><%= @vehicle_booking.rent_agr_guarantor1 %></td>

          <th><strong>Mobile Number</strong></th>
          <td><%= @vehicle_booking.bs_guarantor1 %></td>
        </tr>

        <tr>

          <th><strong>Status</strong></th>
          <td colspan="3"><%= @vehicle_booking.status ? "Active" : "Inactive" %></td>
        </tr>
      </tbody>
    </table>
    <br>
  </div>
</div>