<div id = "myModal"></div>
<!-- Main row --><!-- Info boxes -->

<div class="row">
  <div class="col-lg-4 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <h6>Yesturday - <%= @enquiry_yest.try(:count) %>    Today - <%= @enquiry_today.try(:count) %></h6>
        <p><b>Enquiry</b></p>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
      <a href="/enquiries" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div><!-- ./col -->
  <div class="col-lg-4 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <h5><%= @schemes.try(:count) %></h5>
        <p><b>Scheme</b></p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
      <a href="/schemes" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div><!-- ./col -->
  <div class="col-lg-4 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <h5><%= @vehicle_bookings.try(:count) %></h5>
        <p><b>Booking</b></p>
      </div>
      <div class="icon">
        <i class="ion ion-pie-graph"></i>
      </div>
      <a href="/vehicle_bookings" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div><!-- ./col -->
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-4 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-red">
      <div class="inner">
        <p><b>Enquiry List</b></p>
        <h6><%= @todays_all_enquiry.try(:count) %></h6>

          <% @userwise_all_enquiry.each do |u| %>
          <% count = Enquiry.where(user_id: u.user_id).count %>
        <h6><%= u.try(:user).try(:employee).try(:first_name) %> - <%= count %></h6>
          <% end %>
            <%# enquiry_unique = Enquiry.where(email: e.email).count %>
            <h6><%#= e.name_first %> <%#= e.last_name %> <%#= enquiry_unique %></h6>
            
          <%# end %>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
      <a href="/enquiries" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div><!-- ./col -->


</div>


