<div class="box box-default">
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
      <tbody>
        <tr>
          <th colspan="5">
            <strong><center>Financer Detail</center></strong>
          </th>
        </tr>
        <tr>
          <th><strong>Code</strong></th>
          <td><%= @financer_master.code %></td>
        </tr>
        <tr>
          <th><strong>Name</strong></th>
          <td><%= @financer_master.name %></td>
        </tr>
        <tr>
          <th><strong>Description</strong></th>
          <td><%= @financer_master.description %></td>
        </tr>
        <tr>
          <th><strong>Pin Code</strong></th>
          <td><%= @financer_master.pin_code %></td>
        </tr>
        <tr>
          <th><strong>Place</strong></th>
          <td><%= @financer_master.place %></td>
        </tr>
        <tr>
          <th><strong>Address</strong></th>
          <td><%= @financer_master.address %></td>
        </tr>
        <tr>
          <th><strong>Contact No</strong></th>
          <td><%= @financer_master.contact_no %></td>
        </tr>
        <tr>
          <th><strong>Email</strong></th>
          <td><%= @financer_master.email %></td>
        </tr>
        <tr>
          <th><strong>Contact Person</strong></th>
          <td><%= @financer_master.contact_person %></td>
        </tr>
        <tr>
          <th><strong>Status</strong></th>
          <td><%= @financer_master.status ? "Active" : "Inactive" %></td>
        </tr>
      </tbody>
    </table>
    <br>
    <%= link_to 'Edit', edit_financer_master_path(@financer_master), class: 'btn btn-default btn-sm fa' %> |
    <%= link_to 'Back', financer_masters_path ,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
  </div>
</div>

