<%= bootstrap_form_for(@agent,html: {id: 'agent'}) do |f| %>
  
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :first_name,hide_label:true, placeholder: 'Vikram' %>
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="field">
        <%= f.text_field :middel_name,hide_label:true, placeholder: 'Singh' %>
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="field">
        <%= f.text_field :last_name,hide_label:true, placeholder: 'Chauhan' %>
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="field">
        <%= f.text_field :mobile_number,hide_label:true, placeholder: 'e.g. 8422098721' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3"> 
      <div class="field">
        <%= f.check_box :status, label: 'Active' %>
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="actions">
        <%= f.submit "Create Agent" , class: "btn btn-sm btn-primary" %>
      </div>
    </div>
  </div>
<% end %>

<script>
$("#agent").validate({
    rules: {
      "agent[first_name]":{
        required: true,
      },
      "agent[mobile_number]":{
        required: true,
      }
       },
    messages: {
      "agent[first_name]":{
        required: "Please specify Name",
      },
       "agent[mobile_number]":{
        required: "Please specify Mobile Number",
      }
       },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>

