<%= bootstrap_form_for(@company,html: {id: 'company'}) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :code, label:'Company Code', placeholder: 'A001' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name, label:'Name', placeholder: 'Truba' %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group required">
        <%= f.text_field :address,label:'Address', placeholder: 'xyz' %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :country, label:'Country', placeholder: 'Truba Consultancy Services' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :state, label:'State', placeholder: 'State' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :district, label:'District', placeholder: 'District' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :city, label:'City', placeholder: 'Mumbai' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :pin_code, label:'Pin Code', placeholder: '420016' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :contact_no, label:'Contact No.', placeholder: '+2290981167' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :email,label:'Email', placeholder: 'company@gmail.com' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3" style="padding-top: 20px;">
      <div class="form-group required">
        <%= f.submit "Create Company", :class => class_name, data: { disable_with: data_info } %>
        <%#= link_to 'Back', agencies_path ,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
      </div>
    </div>
  </div>
<% end %>

<script>
$("#company").validate({
    rules: {
      "company[code]":{
        required: true,
      },
      "company[name]":{
        required: true,
      }
       },
    messages: {
      "company[code]":{
        required: "Please specify code",
      },
       "company[name]":{
        required: "Please specify name",
      }
       },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>

