<div class="box box-default">
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
      <tbody>
        <tr>
          <th colspan="5">
            <strong><center>Company Detail</center></strong>
          </th>
        </tr>
        <tr>
          <%#= image_tag @agency.avatar.url(:medium),class: "profile-user-img img-responsive img-circle", alt: "User Image",size: "25x25" %>
        </tr>
        <tr>
          <th>Code</th>
          <td><%= @company.code %></td>
          <th>Name</th>
          <td><%= @company.name %></td>
        </tr>
        <tr>
          <th>Address</th>
          <td colspan="3"><%= @company.try(:address) %></td>
        </tr>
        <tr>
          <th>Pin Code</th>
          <td><%= @company.try(:pin_code) %></td>
        
          <th>Country</th>
          <td><%=  @company.try(:country) %></td>
        </tr>
        <tr>
          <th>State</th>
          <td><%= @company.try(:state) %></td>
        
          <th>District</th>
          <td><%= @company.try(:district) %></td>
        </tr>
        <tr>
          <th>City</th>
          <td><%= @company.try(:city) %></td>
        
          <th>Email</th>
          <td><%= @company.try(:email) %></td>
        </tr>
        <tr><th>Status</th>
        <td colspan="3"><%= @company.try(:status) ? "Active" : "Inactive" %></td></tr>
      </tbody>
    </table><br>
    <%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-default btn-sm fa' %> |
    <%= link_to 'Back', companies_path ,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
  </div>
</div>

