<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @company.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Country:</strong>
  <%= @company.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @company.state %>
</p>

<p>
  <strong>District:</strong>
  <%= @company.district %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>

<p>
  <strong>Pin code:</strong>
  <%= @company.pin_code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @company.contact_no %>
</p>

<p>
  <strong>Status:</strong>
  <%= @company.status %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
