<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
    	<table id="example2" class="table table-bordered table-hover table-condensed">
	      <tbody>
	        <tr>
	          <th colspan="5">
	            <strong><center>Outword Detail</center></strong>
	          </th>
	        </tr>
	        <tr>
	          <th>Date</th>
	          <td><%= @outword.date %></td>
	          <th> Employee </th>
	          <td><%= @outword.employee.prefix %> <%= @outword.employee.first_name %> <%= @outword.employee.middle_name %> <%= @outword.employee.last_name %> </td>
	        </tr>
	        <tr>
	          <th>Amount </th>
	          <td><%= @outword.amount %></td>
	          <th>Handover To</th>
	          <td><%= @outword.handover_to %></td>
	        </tr>
	        <tr>
	          <th> Purpose </th>
	          <td colspan="3"><%= @outword.purpose %></td>
	        </tr>
	      </tbody>
	    </table>
		</div>
	</div>
</div>
