<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle booking:</strong>
  <%= @booking_communication.vehicle_booking %>
</p>

<p>
  <strong>Variant:</strong>
  <%= @booking_communication.variant %>
</p>

<p>
  <strong>Vc number:</strong>
  <%= @booking_communication.vc_number %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @booking_communication.quality %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @booking_communication.company_name %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @booking_communication.designation %>
</p>

<p>
  <strong>Customer po no:</strong>
  <%= @booking_communication.customer_po_no %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @booking_communication.insurance %>
</p>

<p>
  <strong>Registration:</strong>
  <%= @booking_communication.registration %>
</p>

<p>
  <strong>Delivery location:</strong>
  <%= @booking_communication.delivery_location %>
</p>

<p>
  <strong>Expected delivery:</strong>
  <%= @booking_communication.expected_delivery %>
</p>

<p>
  <strong>Sales person:</strong>
  <%= @booking_communication.sales_person %>
</p>

<p>
  <strong>Ex showroom price:</strong>
  <%= @booking_communication.ex_showroom_price %>
</p>

<p>
  <strong>Insurance amount:</strong>
  <%= @booking_communication.insurance_amount %>
</p>

<p>
  <strong>Registration amount:</strong>
  <%= @booking_communication.registration_amount %>
</p>

<p>
  <strong>Accessories vat amount:</strong>
  <%= @booking_communication.accessories_vat_amount %>
</p>

<p>
  <strong>Txtenaea warranty amount:</strong>
  <%= @booking_communication.txtenaea_warranty_amount %>
</p>

<p>
  <strong>Amc amount:</strong>
  <%= @booking_communication.amc_amount %>
</p>

<p>
  <strong>Exchange amount:</strong>
  <%= @booking_communication.exchange_amount %>
</p>

<p>
  <strong>Exchange discount:</strong>
  <%= @booking_communication.exchange_discount %>
</p>

<p>
  <strong>Logistics charges:</strong>
  <%= @booking_communication.logistics_charges %>
</p>

<p>
  <strong>Corporate offer:</strong>
  <%= @booking_communication.corporate_offer %>
</p>

<p>
  <strong>Taxes levies:</strong>
  <%= @booking_communication.taxes_levies %>
</p>

<p>
  <strong>Tatoal recevivable amount:</strong>
  <%= @booking_communication.tatoal_recevivable_amount %>
</p>

<p>
  <strong>Finance by:</strong>
  <%= @booking_communication.finance_by %>
</p>

<p>
  <strong>Finance amount:</strong>
  <%= @booking_communication.finance_amount %>
</p>

<p>
  <strong>Down payment:</strong>
  <%= @booking_communication.down_payment %>
</p>

<p>
  <strong>Emi amount:</strong>
  <%= @booking_communication.emi_amount %>
</p>

<p>
  <strong>Car model:</strong>
  <%= @booking_communication.car_model %>
</p>

<p>
  <strong>Make:</strong>
  <%= @booking_communication.make %>
</p>

<p>
  <strong>Year of manufacture:</strong>
  <%= @booking_communication.year_of_manufacture %>
</p>

<p>
  <strong>Varluation amount:</strong>
  <%= @booking_communication.varluation_amount %>
</p>

<p>
  <strong>Special insurance:</strong>
  <%= @booking_communication.special_insurance %>
</p>

<%= link_to 'Edit', edit_booking_communication_path(@booking_communication) %> |
<%= link_to 'Back', booking_communications_path %>
