<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @role.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @role.description %>
</p>

<p>
  <strong>Is confirm:</strong>
  <%= @role.is_confirm %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
