<div class="box box-default">
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
      <tbody>
        <tr>
          <th colspan="5">
            <strong><center>Vehicle Detail</center></strong>
          </th>
        </tr>
        <tr>
          <th>Code.</th>
          <td><%= @vehicle_type.code %></td>
        
          <th> Name </th>
          <td><%= @vehicle_type.name %></td>
        </tr>
        <tr>
          <th>Description </th>
          <td><%= @vehicle_type.description %></td> <tr>
          <th> Status </th>
          <td><%= @vehicle_type.status ? "Active" : "Inactive" %></td>
        </tr>
        </tr>
      </tbody>
    </table><br>
    <%= link_to 'Edit', edit_vehicle_type_path(@vehicle_type), class: 'btn btn-default btn-sm fa' %> |
    <%= link_to 'Back', vehicle_types_path ,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
  </div>
</div>

