<p id="notice"><%= notice %></p>

<p>
  <strong>Employee</strong>
  <%= @document_list.employee %>
</p>

<p>
  <strong>Document List</strong>
  <%= @document_list.document_master %>
</p>

<p>
  <strong>Vehicle Booking</strong>
  <%= @document_list.vehicle_booking %>
</p>

<p>
  <strong>Status</strong>
  <%= @document_list.status %>
</p>

<%= link_to 'Edit', edit_document_list_path(@document_list) %> |
<%= link_to 'Back', document_lists_path %>
