<%= bootstrap_form_for(@enquiry,html: {id: 'enquiry'}) do |f| %>
<%#= bootstrap_form_for :enquiry,url:{action: "display_scheme"} do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :mobile_no, label:'Mobile No.', placeholder: '0987654321' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name_first, label:'First Name', placeholder: 'Tanmay' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :middle_name, label:'Middle Name', placeholder: 'Singh' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :last_name, label:'Last Name', placeholder: 'Rathore' %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :email,label:'Email', placeholder: 'enquiry@gmail.com' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :place, label:'Pin Code', placeholder: 'Pune' %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group required">
        <%= f.text_field :address,label:'Address', placeholder: 'xyz' %>
      </div>
    </div>
  </div>
    <!-- all_scheme_type -->
  <div class="row">
    <div class="col-sm-3">
      <label> Scheme </label>
      <div class="form-group required">
        <%= f.select :scheme_id, all_scheme_type,{ hide_label:true,include_blank: " Select Scheme" } %>
      </div>
      </div>
        <div class="col-sm-3">
      <div class="form-group required">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :enquiry_date, label: 'Date', class: 'to_date'%>
        </div>
      </div>
    </div>
     <div class="col-sm-6">
      <div class="form-group required">
        <%= f.text_field :description,label:'Description', placeholder: 'Duration' %>
      </div>
    </div>
</div>
<div class="row">
  <div id="scheme_list"></div>
  
    <div class="col-sm-3" style="padding-top: 20px;">
      <div class="form-group required">
        <%= f.submit "Create Enquiry", :class => class_name, data: { disable_with: data_info } %>
        <%#= link_to 'Back', agencies_path ,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
      </div>
    </div>
  </div>
  
<% end %>

<!-- 
<script>
$("#enquiry").validate({
  rules: {
    "enquiry[mobile_no]":{
      required: true,
    },
    "enquiry[name_first]":{
      required: true,
    }
     },
  messages: {
    "enquiry[mobile_no]":{
      required: "Please specify mobile_no",
    },
     "enquiry[name_first]":{
      required: "Please specify name_first",
    }
     },
  errorPlacement: function(error, element) {
   error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
   error.insertAfter(element.parent(element));
  }
});
</script> -->
