<p id="notice"><%= notice %></p>

<h1>Enquiries</h1>

<table>
  <thead>
    <tr>
      <th>Mobile no</th>
      <th>Name first</th>
      <th>Middle name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Place</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enquiries.each do |enquiry| %>
      <tr>
        <td><%= enquiry.mobile_no %></td>
        <td><%= enquiry.name_first %></td>
        <td><%= enquiry.middle_name %></td>
        <td><%= enquiry.last_name %></td>
        <td><%= enquiry.email %></td>
        <td><%= enquiry.address %></td>
        <td><%= enquiry.place %></td>
        <td><%= enquiry.user %></td>
        <td><%= link_to 'Show', enquiry %></td>
        <td><%= link_to 'Edit', edit_enquiry_path(enquiry) %></td>
        <td><%= link_to 'Destroy', enquiry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enquiry', new_enquiry_path %>
