<table style="border-collapse: collapse; font-size:12pt;" border=1 width=1200 cellpadding="10" cellspacing="5">
  <tbody>
  <tr>
    <td colspan="27"><center> 
      <% if @enquiry.user.employee.company.logo == nil %>
      <% else %>
        <center> <%= wicked_pdf_image_tag @enquiry.user.employee.company.logo.url, :size => "90x50" %></center>
      <%end%> 
        <strong><%=@enquiry.user.employee.company.try(:name)%></strong> <br> <%= @enquiry.user.employee.company.try(:address)%></center>
    </td>
  </tr> 

   <tr>
      <th colspan="5">
        <strong><center>Enquiry Detail</center></strong>
      </th>
    </tr>
    <tr>
      <th colspan="5">
        <strong><center>Enquiry Detail</center></strong>
      </th>
    </tr>
    <tr>
      <td><strong> Mobile No.</strong></td>
      <td><%= @enquiry.mobile_no %></td>
      <td><strong>  Name </strong></td>
      <td><%= @enquiry.name_first %> <%= @enquiry.middle_name %> <%= @enquiry.last_name %> </td>
    </tr>
    <tr>
      <td><strong> Email </strong></td>
      <td><%= @enquiry.email %></td>
      <td><strong> Place</strong></td>
      <td><%= @enquiry.place %></td>
    </tr>
    <tr>
      <td><strong>  Date </strong></td>
      <td><%= @enquiry.enquiry_date %></td>
      <td><strong> Scheme</strong></td>
      <td><%= @enquiry.scheme.try(:name) %></td>
    </tr>
    <tr>
      <td><strong> Address</strong></td>
      <td colspan="3"><%= @enquiry.try(:address) %></td>
    </tr>
    <tr>
      <td><strong> Description</strong></td>
      <td colspan="3"><%= @enquiry.try(:description) %></td>
    </tr>
  </tbody>

<% if @enquiry.scheme_id == nil %>
<% else %>
 
      <tr><th colspan="4"><strong><center>Scheme Detail</center></strong></th></tr>
      <tr>
        <td><strong>Scheme</strong></td>
          <td><%= @enquiry.scheme.try(:name) %></td>
      
        <td><strong>Budget</strong></td>
          <td><%= @enquiry.try(:scheme).try(:budget) %></td>
      </tr>
      <tr>
        <td><strong>Down Payment</strong></td>
          <td><%= @enquiry.try(:scheme).try(:down_payment) %></td>
      
        <td><strong>Interest</strong></td>
          <td><%= @enquiry.try(:scheme).try(:intrest) %></td>
      </tr>
      <tr>
        <td><strong>Installment Amount</strong></td>
          <td><%= @enquiry.try(:scheme).try(:installment_amount) %></td>
      
        <td><strong>Scheme Type</strong></td>
          <td><%= @enquiry.try(:scheme).try(:scheme_type) %></td>
      </tr>
      <tr>
        <td><strong>Installment</strong></td>
          <td><%= @enquiry.try(:scheme).try(:installment) %></td>
      
        <td><strong>Vehicle Type</strong></td>
          <td><%= @enquiry.try(:scheme).try(:vehicle_type).try(:name) %></td>
      </tr>
      <tr>
        <td><strong>Description</strong></td>
          <td colspan="3"><%= @enquiry.try(:scheme).try(:description) %></td>
      </tr>
    </thead>
  </table>
<% end %>