
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
         <%= image_tag "avatar.png",class: "img-circle", alt: "User Image", size: "25x25" %>
      </div>
      <div class="pull-left info">
      <h3 class="profile-username text-center"></h3>
        <p>
          <%= current_user.try(:email) %><br> 
        </p>
      </div>
    </div>
        <%= render 'sidebars/admin' %>
     
  </section>
  <!-- /.sidebar -->
</aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">

       <%= render 'layouts/messages' %>
        <!-- Main content -->
        <section class="content">
          <!-- Your Page Content Here -->
          
          <%= yield %>

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          Help Line No. +91-9028013279/+91-9970868601
        </div>
        <!-- Default to the left -->
        <strong> Copyright © 2018 <a href="#">Travel</a>.</strong> All Right Reserved.| Powered By : Indiba Business Solution.
      </footer>
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>